{
  "bootstrap": "vendor/autoload.php",
  "path": "benchmarks/bitExpert/Techno/Bench",
  "retry_threshold": 5,
  "progress": "dots",
  "outputs": {
    "benchmark": {
      "extends": "markdown",
      "file": "benchmark.md",
      "title": "Techno"
    }
  }
}
