parameters:
  level: max
  fileExtensions:
    - php
  paths:
    - ./src
    - ./tests
  excludes_analyse:
    - %currentWorkingDirectory%/tests/bitExpert/Disco/Config/*.php
    - %currentWorkingDirectory%/tests/bitExpert/Disco/Helper/*.php
