parameters:
  level: max
  paths:
    - ./src
    - ./tests
  excludes_analyse:
    - %currentWorkingDirectory%/tests/bitExpert/Disco/Config/NonExistentReturnTypeConfiguration.php
    - %currentWorkingDirectory%/tests/bitExpert/Disco/Config/WrongReturnTypeConfiguration.php
  includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon